<!DOCTYPE html>
<html>
  <head>
    <base href="@(Url.Content("~/"))" />
    <title>@ViewData["Title"]</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Html.Raw(ViewData["Meta"])
    @Html.Raw(ViewData["Links"])
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>

    @Html.Raw(ViewData["Styles"])
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
    @RenderBody()

    <!-- Here we're passing down any data to be used by grabbed and parsed by Angular -->
    @Html.Raw(ViewData["TransferData"])
    @Html.Raw(ViewData["Scripts"])

    @RenderSection("scripts", required: false)
  </body>
</html>
